$step: 4;

// m - margin, p - pading
// m{l|r|b|t} 
// l - left, r - right, a - all direction, x - left, right, y - top, bottom
.ml-2 {
  margin-left: $step * 2px;
}

.ml-3 {
  margin-left: $step * 3px;
}

.mr-1 {
  margin-right: $step * 1px;
}

.mr-2 {
  margin-right: $step * 2px;
}

.mt-2 {
  margin-top: $step * 2px;
}

.mt-3 {
  margin-top: $step * 3px;
}

.my-1 {
  margin:  $step * 1px 0;
}

.my-2 {
  margin:  $step * 2px 0;
}

.mb-1 {
  margin-bottom: $step * 1px;
}

.mb-2 {
  margin-bottom: $step * 2px;
}

.pa-3 {
  padding: $step * 3px;
}

.px-3 {
  padding: 0 $step * 3px;
}

.pl-3 {
  padding-left: $step * 3px;
}