.flex {
  &-align--center {
    display: flex;
    align-items: center;
  }
}

.font-bold {
  font-weight: 600;
}

.list {
  cursor: pointer;
  &--item {
    line-height: 1.5;
    height: 35px;
    font-size: 18px;
  }
}

h2 {
  margin: 0;
}

svg {
  overflow: visible;
}
