<template>
  <main class="main pa-3">
    <AddressForm class="address-form ml-2" formName="Add new lunch place"/>
    <template v-if="lunchPlaces.length">
      <Vote class="vote" :items="lunchPlaces" />
    </template>
  </main>
</template>

<script>
// @ is an alias to /src
import { mapActions, mapGetters } from 'vuex'
import AddressForm from '@/components/AddressForm.vue'
import Vote from '@/components/Vote.vue'

export default {
  name: 'Home',
  components: {
    AddressForm,
    Vote
  },
  computed: {
    ...mapGetters(['lunchPlaces'])
  },
  methods: {
    ...mapActions(['getLunchPlaces'])
  },
  created () {
    this.getLunchPlaces()
  }
}
</script>

<style lang="scss" scoped>
.main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
  background: #fafafa;
  padding-top: 0px;
}
.address-form {
  text-align: left;
  width: 300px;
  margin-right: 50px;
}
.vote {
  width: 350px;
}
</style>
