<template>
  <div class="places">
    <h2 class="my-2">My Lunch places</h2>
    <LunchPlacesList />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
const LunchPlacesList = () => import('@/components/LunchPlacesList.vue')

export default {
  name: 'LunchPlaces',
  components: {
    LunchPlacesList
  },
  created () {
    this.getLunchPlaces()
  },
  methods: {
    ...mapActions(['getLunchPlaces'])
  }
}
</script>

<style lang="scss" scoped>
.places {
  margin-left: 300px;
  width: 50%;
  background: #fafafa;
}
</style>
