<template>
  <div class="statistics">
    <h2 class="my-2">Vote statistics</h2>
    <div class="vote-statistics ml-3" v-if="voteStatistics.length">
      <div v-for="statistics in voteStatistics" :key="statistics.id">
        <h3>Vote date: {{ statistics.archiveDate }} </h3>
        <VoteResults :votes="statistics.data" :selected="getVoteWinner(statistics.data)" />
      </div>
    </div>
    <div v-else>0 statistics</div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
const VoteResults = () => import('@/components/VoteResults.vue')

export default {
  name: 'Statistics',
  components: {
    VoteResults
  },
  data: () => ({ votes: [] }),
  async created () {
    await this.getVoteStatistics()
  },
  methods: {
    ...mapActions(['getVoteStatistics']),
    getVoteWinner (item) {
      const selected = item.find(item => item.selected)

      return selected && selected.id
    }
  },
  computed: {
    ...mapGetters(['voteStatistics'])
  }
}
</script>

<style lang="scss" scoped>
.statistics {
  margin-left: 300px;
  width: 50%;
  background: #fafafa;
}
</style>
