<template>
  <form @submit="submitForm">
    <h2 class="my-2">{{ formName }}</h2>
    <div class="form-controls">
      <VueInput class="mb-1" type="text" v-model="formData.name" label="Name" :error="errors.name" />
      <VueInput class="mb-1" type="textarea" v-model="formData.description" label="Description" :error="errors.description" />
      <VueInput class="mb-1" type="text" v-model="formData.address" label="Address" :error="errors.address" />
      <VueInput class="mb-1" type="text" v-model="formData.menu" label="Menu" :error="errors.menu" />

      <VueButton @click="submitForm" type="primary" :loading="loading" round>
        {{ addPlaceText }}
      </VueButton>
    </div>
  </form>
</template>

<script>
import { mapActions } from 'vuex'
import VueInput from '@/components/common/VueInput.vue'
import VueButton from '@/components/common/VueButton.vue'

const getDefaultFormState = () => ({
  name: '',
  description: '',
  address: '',
  menu: ''
})

export default {
  name: 'AddressForm',
  components: {
    VueInput,
    VueButton
  },
  props: {
    formName: {
      type: String
    }
  },
  data: () => ({
    formData: getDefaultFormState(),
    errors: getDefaultFormState(),
    loading: false,
    addPlaceText: 'Add Place'
  }),
  methods: {
    ...mapActions(['submitLunchPlace']),
    startLoading () {
      this.loading = true
    },
    stopLoading () {
      this.loading = false
    },
    async submitForm (event) {
      event.preventDefault()
      if (!this.validateForm(this.formData)) return
      this.startLoading()

      try {
        await this.submitLunchPlace(this.formData)
        this.clearForm()
        this.clearErrors()
      } catch (err) {
        console.log('Something wrong with add lucn place. Please check logs', err)
      } finally {
        this.stopLoading()
      }
    },
    validateForm (formData) {
      const errors = Object.keys(formData).reduce((errors, next) => {
        return !formData[next] ? { ...errors, [next]: `${next} is required` } : errors
      }, {})

      this.errors = errors

      return !Object.keys(errors).length
    },
    clearForm () {
      this.formData = getDefaultFormState()
    },
    clearErrors () {
      this.errors = getDefaultFormState()
    }
  }
}
</script>

<style lang="scss" scoped>
.form-controls {
  margin-top: 18px;
}
</style>
