<template>
  <div class="places-list">
    <VueList class="places-list-items mr-1" :items="lunchPlaces" :clickListItem="selectPlace" space-between>
      <TrashIcon class="ml-3 remove" fill="red" :slot="`append-${place.id}`" v-for="place in lunchPlaces" :key="place.id" @click.native.stop="() => removePlace(place)"></TrashIcon>
    </VueList>

    <div class="place-details" v-if="selectedPlaceDetails">
      <div class="list" v-for="(value, key) in selectedPlaceDetails" :key="key">
        <div class="list--item flex-align--center pl-3">
          <span class="mr-1">{{ key }}:</span><span class="font-bold">{{ value }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import VueList from '@/components/common/VueList.vue'

export default {
  name: 'LunchPlacesList',
  components: {
    VueList
  },
  data: () => ({
    selectedPlace: null
  }),
  computed: {
    ...mapGetters(['lunchPlaces']),
    selectedPlaceDetails () {
      const { selectedPlace } = this
      if (!selectedPlace) return

      const placeDetailsKeys = ['name', 'address', 'menu', 'description']

      return placeDetailsKeys.reduce((acc, next) => ({ ...acc, [next]: selectedPlace[next] }), {})
    }
  },
  methods: {
    ...mapActions(['removeLunchPlace', 'getLunchPlaces']),
    selectPlace (place) {
      this.selectedPlace = place
    },
    async removePlace (place) {
      await this.removeLunchPlace(place.id)

      if (this.selectedPlace && this.selectedPlace.id === place.id) {
        this.selectedPlace = null
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.places-list {
  cursor: pointer;
  display: flex;

  &-items {
    width: 200px;
  }
}
.list {
  flex: 1;
}
.place-details {
  flex: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.remove {
  &:after {
    content: 'X';
    color: red;
  }
}
</style>
