<template>
  <div class="toolbar">
    <header class="header sticky">
      <h3 class="ml-3">Lunch vote app</h3>
    </header>
    <aside class="navigation-block">
      <nav>
        <VueList :items="links" :clickListItem="changePage">
          <component :is="link.icon" class="mr-2" :slot="`prepend-${link.id}`" v-for="link in links" :key="link.id" />
        </VueList>
      </nav>
    </aside>
  </div>
</template>

<script>
const VueList = () => import('@/components/common/VueList.vue')

export default {
  name: 'Toolbar',
  components: {
    VueList
  },
  data: () => ({
    links: [
      { name: 'Main', path: '/', icon: 'DashboardIcon', id: '1' },
      { name: 'Places', path: '/lunch-places', icon: 'PlaceIcon', id: '2' },
      { name: 'Vote Statistics', path: '/statistics', icon: 'AnalyticsIcon', id: '3' }
    ]
  }),
  methods: {
    changePage (item) {
      if (this.$route.path === item.path) return

      this.$router.push(item.path)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';

$toolbar-height: 55px;

.toolbar {
  height: $toolbar-height;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  height: $toolbar-height;
  display: flex;
  background: $default-gradient;
  align-items: center;
  z-index: 2;
}
.navigation-block {
  height: 100%;
  margin-top: $toolbar-height;
  max-height: calc(100% - 48px);
  transform: translateX(0px);
  width: 300px;
  position: fixed;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.12);
}
.header {
  h3 {
    color: white;
  }
}
</style>
