<template>
  <div class="vote">
    <h2 class="my-2">Vote for lunch place</h2>

    <div class="vote-blocks">
      <template v-if="loading">
        <Loader class="mr-1 ml-3" />
      </template>
      <template v-else>
        <template v-if="isVoting">
          <RadioButtonGroup :options="items" v-model="selectedVote" />
          <VueButton type="primary" @click="vote" class="mr-2 mt-3" round>
            Vote
          </VueButton>
        </template>
        <template v-else-if="votingResults">
          <VoteResults :votes="votes" :selected="selectedVote.id" />
          <div class="vote-buttons mt-3">
            <VueButton @click="cancelVote" class="mr-2" round>
              Cancel
            </VueButton>
            <VueButton @click="finishVoting" type="primary" round>
              Finish Voting
            </VueButton>
          </div>
        </template>
        <template v-else>
          <div class="vote-final">
            <div>
              {{ voteFinal.text }} <span class="font-bold">{{ voteFinal.result }}</span>
            </div>
            <VueButton @click="reset" type="primary" class="mt-2" round>
              {{ voteFinal.action }}
            </VueButton>
          </div>
        </template>
      </template>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

import VueButton from '@/components/common/VueButton.vue'
import VoteResults from '@/components/VoteResults.vue'
import Loader from '@/components/common/Loader.vue'
import RadioButtonGroup from '@/components/common/RadioButtonGroup.vue'
import { getVoteSum } from '@/mixins'

export default {
  name: 'Vote',
  mixins: [getVoteSum],
  components: {
    VueButton,
    VoteResults,
    Loader,
    RadioButtonGroup
  },
  props: {
    items: {
      type: Array
    }
  },
  data: () => ({
    isVoting: true,
    selectedVote: null,
    votingResults: false,
    voteFinal: {},
    loading: false
  }),
  computed: {
    votes () {
      const votesSum = this.getVoteSum(this.items)
      const calculatePercentages = this.items.map((item) => {
        const { votes = 0 } = item
        const percent = (votes / votesSum * 100).toFixed(2)

        return { ...item, percent: `${percent}%`, votes }
      })

      return this.isVoting ? this.items : calculatePercentages
    }
  },
  methods: {
    ...mapActions(['voteForLunchPlace', 'finalizeVotes', 'resetVotes']),
    startLoading () {
      this.loading = true
    },
    stopLoading () {
      this.loading = false
    },
    showVotingResults (isVotingResults) {
      this.votingResults = isVotingResults
    },
    showVoting (isVoting) {
      this.isVoting = isVoting
    },
    async vote () {
      if (!this.selectedVote) return

      this.startLoading()
      this.showVoting(false)

      await this.voteForLunchPlace({ placeID: this.selectedVote.id, value: +1 })

      this.showVotingResults(true)
      this.stopLoading()
    },
    async cancelVote () {
      this.startLoading()
      await this.voteForLunchPlace({ placeID: this.selectedVote.id, value: -1 })
      this.stopLoading()
      this.selectedVote = null
      this.showVoting(true)
    },
    getMaxVotes () {
      return this.votes.reduce((prev, current) => prev.votes > current.votes ? prev : current)
    },
    checkVotesEqual () {
      const maxVotes = this.getMaxVotes()
      const sameVoteResults = this.votes
        .filter(item => item.id !== maxVotes.id)
        .filter(item => item.votes === maxVotes.votes)

      return sameVoteResults.length ? sameVoteResults.concat(maxVotes) : sameVoteResults
    },
    displayVoteFinal (text, result, action) {
      this.voteFinal = { text, result, action }
    },
    async finishVoting () {
      this.selectedVote = null

      const equalVotes = this.checkVotesEqual()

      if (equalVotes.length) {
        const names = equalVotes.map(item => item.name).join(', ')

        this.displayVoteFinal('Please vote again, these places have the same amount of votes', names, 'Re-vote')
        this.showVoting(false)
        this.showVotingResults(false)

        return
      }

      this.startLoading()
      await this.finalizeVotes(this.votes)
      await this.resetVotes()

      const { name } = this.getMaxVotes()

      this.displayVoteFinal('Have a great meal at', name, 'Start new Vote')
      this.showVoting(false)
      this.showVotingResults(false)
      this.stopLoading()
    },
    async reset () {
      this.showVotingResults(false)
      this.showVoting(true)
      this.voteFinal = ''
    }
  }
}
</script>

<style lang="scss">
$vote-margin-step: 9px;

.vote {
  text-align: left;
  &-blocks {
    margin-top: $vote-margin-step;
  }
  &-final {
    margin-top: $vote-margin-step * 2;
  }
  &-result {
    z-index: 1;
    position: relative;
    line-height: 1.5;
    height: 35px;
    display: flex;
    align-items: center;
  }
  &-buttons {
    display: flex;
  }
}
</style>
