<template>
  <div>
    <div class="vote-block flex-align--center pl-3 mb-1" v-for="(item, i) in votes" :key="i">
      <div class="flex-align--center" :class="{ selected: item.id === selected }">
        <span class="vote-name vote-result flex-align--center">{{ item.name }}</span>
        <span v-if="item.percent" class="percent vote-result pl-3 ">{{ item.percent }}</span>
      </div>
      <span class="vote-block--percent" :style="{ width: item.percent }"></span>
    </div>

    <div class="votes-number mt-2">Votes: {{ getVoteSum(votes) }}</div>
  </div>
</template>
<script>
import { getVoteSum } from '@/mixins'

export default {
  name: 'VoteResults',
  mixins: [getVoteSum],
  props: {
    votes: {
      type: Array,
      required: true
    },
    selected: {
      type: [String, Number],
      default: ''
    },
    loading: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';

.vote-block {
  position: relative;
  cursor: pointer;
  line-height: 1.5;
  height: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    background-color: $default-gradient;
  }
  &--percent {
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    background: $default-gradient;
    opacity: 0.4;
    border-radius: 5px;
  }
}
.selected {
  &:after {
    content:'✔';
    margin-left: 10px;
    z-index: 1;
  }
}
.votes-number {
  text-align: right;
}
</style>
