<template>
  <div class="loader" :style="{width: `${width}px`, height: `${height}px`}"></div>
</template>

<script>
export default {
  name: 'Loader',
  props: {
    width: {
      type: String,
      default: '50'
    },
    height: {
      type: String,
      default: '50'
    }
  }
}
</script>

<style lang="scss">
@import '@/styles/variables';

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #a777e3;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
