<template>
  <div>
   <label class="radio-button-item mb-2" v-for="(option, i) in options" :key="option.id">
      <input
        type="radio"
        :id="`${id}-${i}`"
        :name="id"
        @change="updateValue(option)"
      />
      <span :for="`${id}-${i}`">{{ option.name }}</span>
    </label>
  </div>
</template>

<script>
export default {
  name: 'RadioButtonGroup',
  props: {
    options: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    inputVal: '',
    id: 'radio-button-group'
  }),
  methods: {
    updateValue (value) {
      this.$emit('input', value)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';

.radio-button-item {
  display: flex;
  align-items: center;

  & > input[type="radio"] {
    display: none;
  }
}

input[type=radio] + label {
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.2rem;
  border-color: gray;
}

label > input[type="radio"]:checked + *::before {
  background: radial-gradient(#6e8efb, #a777e3, transparent 50%, transparent);
  border-color: #a777e3;
}
</style>
