<template>
  <button :class="['vue-button', buttonClass]" @click="callback($event)">
    <template v-if="loading">
      <div class="vue-button--loading">
        <Loader v-if="loading" class="mr-1" width="10" height="10" />
        Loading...
      </div>
    </template>
    <template v-else>
      <span>
        <slot></slot>
      </span>
    </template>
  </button>
</template>

<script>
const Loader = () => import('@/components/common/Loader.vue')

export default {
  components: { Loader },
  name: 'VueButton',
  componets: {
    Loader
  },
  props: {
    type: {
      type: String,
      default: ''
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    buttonClass () {
      return {
        'vue-button--primary': this.type === 'primary'
      }
    }
  },
  methods: {
    callback (e) {
      this.$emit('click', e)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';

.vue-button {
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  min-width: 125px;
  min-height: 44px;
  font-weight: 600;

  &--primary {
    color: #fff;
    background: $default-gradient;
  }

  &--loading {
    display: flex;
  }
}

button[round] {
  border-radius: 28px;
}
</style>
