<template>
  <div>
    <div class="mb-1">
      <label>{{ label }}</label>
    </div>
    <div>
      <template v-if="isTextArea">
        <textarea v-model="inputVal"></textarea>
      </template>
      <template v-else>
        <input :type="type" :value="value" v-model="inputVal">
      </template>
    </div>
    <div class="error--text">{{ error }}</div>
  </div>
</template>

<script>
export default {
  name: 'VueInput',
  props: {
    type: {
      type: String,
      required: true
    },
    label: {
      type: String,
      default: ''
    },
    value: {
      type: [String, Number],
      default: ''
    },
    error: {
      type: String
    }
  },
  data: () => ({ inputVal: '' }),
  computed: {
    isTextArea () {
      return this.type === 'textarea'
    }
  },
  watch: {
    inputVal (val) {
      this.$emit('input', val)
    },
    value (val) {
      if (val === this.inputVal) return

      this.inputVal = val
    }
  }
}
</script>

<style lang="scss" scoped>
input[type=text], textarea {
  width: 100%;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

.error--text {
  min-height: 14px;
  color: #ff5252;
  font-size: 12px;
}

textarea:focus, input:focus{
  outline: none;
}
</style>
