<template>
  <div class="vue-list">
    <div class="vue-list--item flex-align--center px-3 my-1" v-for="(item, i) in items" :key="i" @click="() => clickListItem(item)">
      <slot :name="`prepend-${item.id}`"></slot>
      <span class="list-item--hover text-ellipsis">{{ item.name }}</span>
      <slot :name="`append-${item.id}`"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VueList',
  props: {
    items: {
      type: Array,
      required: true
    },
    clickListItem: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style lang="scss">
.vue-list {
  cursor: pointer;
  &--item {
    line-height: 1.5;
    height: 35px;
    font-size: 16px;

    &:hover {
      background: rgba(0,0,0,.04);
      border-radius: 10px;
    }
  }
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vue-list[space-between] {
  .vue-list--item {
    justify-content: space-between;
  }
}
</style>
